
      body{
        overflow:hidden;
      }
      .zone {
        border-radius:15px;
        height: 35vh;
        margin: 1px;
        overflow:hidden;
        text-align:center;
        cursor:pointer;
      }
      .zone:hover{
        background: #F4B350;
      }

      .zone:hover > h3 {
        color:#E87E04;
      }

      .zone > h3 {
        margin-top:40%;
        color:#4183D7;
      }

      .zoneActive{
        background: #4183D7;
      }
      .zoneActive > h3 {
        color:#C5EFF7;
      }
      .zoneInActive{
        background: #89C4F4;
      }


      .zoneContain {
        width:100%;
        height:75vh;
        overflow:scroll;
        padding:10px;
      }


      .buttonRow{
        margin:20px;
      }

      .incomingBtn{
          float: right;
      }

      .notifContainer{
        position: absolute;
        z-index:100;
        width:400px;
        right:0px;
        top:50px;
        padding:20px;
      }

      .dialog{
        width:100%;
        height:100px;
        padding:30px;
        border-radius:10px;
        margin-bottom:5px;
        text-align:center;
        color:#6C7A89;
      }

      .dialog > button {
        position:absolute;
        right: 30px;
        margin-top:-20px;
      }

      .zoneSelected {
        position:absolute;
        z-index:50;
        top:57px;
        width:100%;
        height:100%;
        background:white;
      }
      .setting{
        overflow-y: scroll;
      }

      .zoneSelectedDetail{
        padding: 50px;
      }
      .zoneSelectedGrid{
        overflow-y:scroll;
      }
      .settingItem{
        background:lightblue;
        padding:10px 0px;
        border-bottom:1px solid #EEEEEE;
      }
      .gridItem{
        background:lightblue;
        margin:20px;
      }
      .gridItemAdmin > .row {
        margin:20px 5px;
      }
      .gridItemNotAdmin > .row {
        margin-top:25px;
        margin-left:10px;
      }
      .imgItem{
        margin-top:13px;
      }
      .buttonSettingRow{
        padding-top:8px;
      }
      .buttonSettingRow > .label{
        margin: 10px;
      }
      .formPage{
        background:#22313F;
        padding-top:10%;
        top:0px;
        color:#C5EFF7;
      }
      .closeForm{
        position:absolute;
        top:10px;
        right:10px;
        color:white;
        font-size:30px;
      }

      .informPage{
        top:0px !important;
        left:0px;
        padding:10px;
        z-index:150;
        overflow-y:scroll;
      }

      .informPage >.container > .close {
        position:absolute;
        top:10px;
        right:10px;
        z-index:200;
        font-size:30px;
      }

      .navigateButton{
        position:fixed;
        bottom:0;
        left:0;
        height:50px;
        width:100%;
        padding-bottom:20px;
        text-align:center;
      }

      .navigateButton > button {
        margin-top: -20px;
      }



      /*mobile*/
      @media screen and (max-width: 480px) {
        .zoneContain {
          height: 300px !important;
          background:#E4F1FE;
        }

        .zone > h3 {
          margin-top:30%;
        }

        .notifContainer {
          position:relative;
          top:0px;
          padding:0px;
          margin-bottom:10px;
        }

        .dialog{
          border-radius:0px;
          padding:3px;
          height:40px;
        }
        .dialog > button {
          right:10px;
          margin-top:3px;
        }

        .zoneSelected {
          top:70px;
        }
        .zoneSelectedGrid {
          height:400px;
          padding:0px;
          margin-left:17px !important;
          margin-right:17px !important;
          padding-bottom:100px;
        }
        .imgItem{
          height:100%;
        }
        .gridItem{
          margin: 5px 0px;
          height:100px;
        }


      }

      /*desktop*/
      @media (min-width: 480px) {
        .zoneContain {
          padding-left:17%;
          overflow:hidden;
        }

        .informPage >.container > .close {
          font-size:50px;
        }

        .informPage >.container {
          padding-top:100px;
        }


        .navigateButton{
          display:none;
        }
      }

      .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
      }

      .navbar .navbar-collapse {
        text-align: center;
      }

      .navbar .navbar-left{
        text-align:left;
      }

      .label{
        cursor: pointer;
        padding:7px;
        font-size:12px;
        border-radius:10px;
      }

      .label:hover{
        opacity:0.7;
      }

      label{
        font-size:20px;
      }

      input{
        text-align:center;
      }

      .arrow-up {
      	width: 0;
      	height: 0;
      	border-left: 20px solid transparent;
      	border-right: 20px solid transparent;

      	border-bottom: 20px solid black;
      }
